/* Skills.css */

.skills-container {
  padding: 50px 20px;
  font-family: "Arial", sans-serif;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
}

.category-container {
  margin-bottom: 50px;
  text-align: center;
}

.category-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.logos-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  color: rgb(10, 9, 9);
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.logo-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 120px;
  height: 120px;
  object-fit: contain;
  border-radius: 50%;
}

.skill-name {
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: bold;
}

.progress-bar {
  width: 80%;
  height: 12px;
  background-color: #eee;
  border-radius: 6px;
  margin-top: 20px;
}

.progress-value {
  height: 100%;
  border-radius: 6px;
  background-color: #4034ee;
}
